{% extends "base.html" %}

{% block title %} login {% endblock %}
{% block soustitle %} 
{% load widget_tweaks %}
<a href="{% url 'index'%}">   borders   </a> -- >
<a href="#">   //    </a>
       

-> : Ajouter_Topic 
       <button type="submit" class="btn btn-primary ">Changement pass done</button>     
                          
{% endblock %}  
<div class="succes">
    bein enrgistre
</div>
<a href="{% url 'index'%}">reteurn to home</a>
{% block container %}
           
     <div class="alert-danger">bien recus</div>
    <a href="{%url 'index'%}">Goo to Hoome</a>
            </div>
{% endblock %}
