{% extends "base.html" %}
{% block title %} Enrgister {% endblock %}
{% block soustitle %} 
{% load widget_tweaks %}
{% endblock %}  
{% block container_titre %} Register{% endblock %}
            {% block container %}
            
       <form method="POST" >
            
              {% csrf_token %}
              {% for elm in form %}
              <div class="form-group pt-3">
              {{ elm.label_tag}}
              {{ elm|add_class:"form-control" }} 
              </div>
                      {% if elm.errors %}
                <div class="text-danger">
                    {% for error in elm.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
                    {% endif %}
              {%endfor%}
              <div class="col-auto">
    <button type="submit" class="btn btn-primary mt-3 ">Enrgister</button>
    
              </div>
              <a href="{% url 'login'%}">Already have an account?</a>
 
       </form>
            </div>
            
{% endblock %}
